body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#MiTablero {
    margin: 0;
    padding: 100px;
    background-color: grey;
    height: 800px;
    display: inline-block;
    vertical-align: top;
}

#TableroRival {
    margin: 0;
    padding: 100px;
    background-color: pink;
    height: 800px;
    display: inline-block;
    vertical-align: top;
}

#MiTablero,
#TableroRival {
    width: 37%;
}

.Celda {
    width: 100px;
    height: 50px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
    vertical-align: top;
    padding-top: 50px;
    background-color: white;
}

.hit {
    background-color: blue;
    pointer-events: none;
}