body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#MiTablero {

    background-color: grey;
   
    
}

#TableroRival {
        
    background-color: lightblue;
    
    
}

#MiTablero,
#TableroRival {
    width: 400px;
    height: 400px;
    vertical-align: top;
    padding: 25px;
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.Celda {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    cursor: pointer;
    vertical-align: top;
    padding: 25px;
    background-color: white;
}

.hit {
    pointer-events: none;
}

.water {
    background-color: blue;
}

.ship {
    background-color: red
}

.div{

}
